<div class="section">

<header>
  <h1 class="myteam">My Team</h1>
    <a href="home"><i class="material-icons" id ="home">group</i></a>
    <a href="trending"><i class="material-icons" id="trending">trending_up</i></a>
    <a href="news"><i class="material-icons" id="news">note</i></a>
</header>

<div class="top_player">
  <p class="top">This weeks' top player: LeSean McCoy</p>
</div>

<ul onclick="viewStats()">
  <li>
    QB - Tom Brady
    <div class="stats" style="display:none">
    <div class="sStats">Season Stats<br></div>
    <div class="stat1">Yards <br> <div class="amount">2470</div></div>
    <div class="stat2">TDs <br> <div class="amount">19</div></div>
    <div class="stat3">INT <br> <div class="amount"> 2 </div> </div>
    <div class="stat4">Points <br> <div class="amount">224.80</div></div>
    </div>
  </li>

  <li>
    QB - Aaron Rodgers
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">Yards <br> <div class="amount">3283</div></div>
      <div class="stat2">TDs <br> <div class="amount">29</div></div>
      <div class="stat3">INT <br> <div class="amount"> 0 </div> </div>
      <div class="stat4">Points <br> <div class="amount">241.42</div></div>
    </div>
  </li>

  <li>
    RB - LeSean McCoy
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">Yards <br> <div class="amount">598</div></div>
      <div class="stat2">TDs <br> <div class="amount">9</div></div>
      <div class="stat3">REC <br> <div class="amount"> 12 </div> </div>
      <div class="stat4">Points <br> <div class="amount">243</div></div>
    </div>
  </li>

  <li>
    RB - Carlos Hyde
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">Yards <br> <div class="amount">686</div></div>
      <div class="stat2">TDs <br> <div class="amount">6</div></div>
      <div class="stat3">REC <br> <div class="amount"> 8 </div> </div>
      <div class="stat4">Points <br> <div class="amount">147.20</div></div>
    </div>
  </li>

  <li>
    RB - Jay Ajayi
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">Yards <br> <div class="amount">908</div></div>
      <div class="stat2">TDs <br> <div class="amount">7</div></div>
      <div class="stat3">REC <br> <div class="amount"> 13 </div> </div>
      <div class="stat4">Points <br> <div class="amount">176.10</div></div>
    </div>
  </li>

  <li>
    RB - LeGarrette Blount
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">Yards <br> <div class="amount">957</div></div>
      <div class="stat2">TDs <br> <div class="amount">13</div></div>
      <div class="stat3">REC <br> <div class="amount"> 7 </div> </div>
      <div class="stat4">Points <br> <div class="amount">194.80</div></div>
    </div>
  </li>

  <li>
    WR - Odell Beckham Jr.
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">REC <br> <div class="amount">75</div></div>
      <div class="stat2">Yards <br> <div class="amount">1015</div></div>
      <div class="stat3">TDs <br> <div class="amount">8</div></div>
      <div class="stat4">Points <br> <div class="amount">239.90</div></div>
    </div>
  </li>

  <li>
    WR - Mike Evans
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">REC <br> <div class="amount">76</div></div>
      <div class="stat2">Yards <br> <div class="amount">1058</div></div>
      <div class="stat3">TDs <br> <div class="amount">10</div></div>
      <div class="stat4">Points <br> <div class="amount">255.80</div></div>
    </div>
  </li>

  <li>
    WR - Brandin Cooks
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">REC <br> <div class="amount">58</div></div>
      <div class="stat2">Yards <br> <div class="amount">809</div></div>
      <div class="stat3">TDs <br> <div class="amount">6</div></div>
      <div class="stat4">Points <br> <div class="amount">187.90</div></div>
    </div>
  </li>

  <li>
    WR - Davante Adams
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">REC <br> <div class="amount">59</div></div>
      <div class="stat2">Yards <br> <div class="amount">793</div></div>
      <div class="stat3">TDs <br> <div class="amount">8</div></div>
      <div class="stat4">Points <br> <div class="amount">196.30</div></div>
    </div>
  </li>

  <li>
    TE - Delanie Walker
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">REC <br> <div class="amount">67</div></div>
      <div class="stat2">Yards <br> <div class="amount">657</div></div>
      <div class="stat3">TDs <br> <div class="amount">6</div></div>
      <div class="stat4">Points <br> <div class="amount">157.00</div></div>
    </div>
  </li>

  <li>
    K - Adam Vinatieri
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">FG Made <br> <div class="amount">24</div></div>
      <div class="stat2">FG Missed <br> <div class="amount">2</div></div>
      <div class="stat3">Long <br> <div class="amount">55</div></div>
      <div class="stat4">Points <br> <div class="amount">115</div></div>
    </div>
  </li>

  <li>
    DEF - New England Patriots
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">PTS Allowed <br> <div class="amount">207</div></div>
      <div class="stat2">Sacks <br> <div class="amount">26</div></div>
      <div class="stat3">TOs <br> <div class="amount">13</div></div>
      <div class="stat4">Points <br> <div class="amount">123.00</div></div>
    </div>
  </li>

  <li>
    DEF - Kansas City Chiefs
    <div class="stats" style="display:none">
      <div class="sStats">Season Stats<br></div>
      <div class="stat1">PTS Allowed <br> <div class="amount">242</div></div>
      <div class="stat2">Sacks <br> <div class="amount">26</div></div>
      <div class="stat3">TOs <br> <div class="amount">24</div></div>
      <div class="stat4">Points <br> <div class="amount">176.00</div></div>
    </div>
  </li>

</ul>
</div>

<script>
  function viewStats() {
    $.get('ajax-show-stats')
    .then(data => {
      if($('.stats').is(":hidden"))
      {
        $('.stats').slideDown("fast");
      } else {
        $('.stats').slideUp("fast");
      }

    })
  }
</script>
