<div class="section">
  <header>
    <h1 class="myteam">Trending</h1>
      <a href="home"><i class="material-icons" id ="home">group</i></a>
      <a href="trending"><i class="material-icons" id="trending">trending_up</i></a>
      <a href="news"><i class="material-icons" id="news">note</i></a>
  </header>

  <div class="left">
    <i class="material-icons" id="up">arrow_upward</i>
    <div class="up_player">
      <img src="assets/m_ryan.png">
      <h3 class="name">M. Ryan</h3>
      <h4 class="position">QB</h4>
    </div>

    <div class="up_player">
      <img src="assets/l_mccoy.png">
      <h3 class="name">L. McCoy</h3>
      <h4 class="position">RB</h4>
    </div>

    <div class="up_player">
      <img src="assets/j_jones.png" alt="">
      <h3 class="name">J. Jones</h3>
      <h4 class="position">WR</h4>
    </div>

    <div class="up_player">
      <img src="assets/r_gronkowski.png" alt="">
      <h3 class="name">R. Gronkowski</h3>
      <h4 class="position">TE</h4>
    </div>

    <div class="up_player">
      <img src="assets/j_tucker.png" alt="">
      <h3 class="name">J. Tucker</h3>
      <h4 class="position">K</h4>
    </div>

    <div class="up_player">
      <img src="assets/denver_broncos.png" alt="">
      <h3 class="name">Denver Broncos</h3>
      <h4 class="position">DEF</h4>
    </div>

  </div>

  <div class="right">
    <i class="material-icons" id="down">arrow_downward</i>

    <div class="down_player">
      <img src="assets/s_bradford.png" alt="">
      <h3 class="name">S. Bradford</h3>
      <h4 class="position">QB</h4>
    </div>

    <div class="down_player">
      <img src="assets/t_gurley.png" alt="">
      <h3 class="name">T. Gurley</h3>
      <h4 class="position">RB</h4>
    </div>

    <div class="down_player">
      <img src="assets/s_shepard.png" alt="">
      <h3 class="name">S. Shepard</h3>
      <h4 class="position">WR</h4>
    </div>

    <div class="down_player">
      <img src="assets/c_clay.png" alt="">
      <h3 class="name">C. Clay</h3>
      <h4 class="position">TE</h4>
    </div>

    <div class="down_player">
      <img src="assets/b_walsh.png" alt="">
      <h3 class="name">B. Walsh</h3>
      <h4 class="position">K</h4>
    </div>

    <div class="down_player">
      <img src="assets/cleveland_browns.png" alt="">
      <h3 class="name">Cleveland Browns</h3>
      <h4 class="position">DEF</h4>
    </div>


  </div>

</div>
