<div class="contain">

<div id="title">
  Fantasy Team Tracker
</div>

<form id="login_form" action="/home">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <button href="/home">Sign In</button>
</form>

<p id="signup">Don't have an account yet? No worries, click <u>here</u> to sign up.</p>

</div>
