@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  padding: 0;

  .top_player {
    position: absolute;
    width: 96%;
    height: 30%;
    top: 12%;
    left: 2%;
    background: grey;
    background-image: url("mccoy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 5px 2px 30px rgba(0, 0, 0, 1);
    text-align: center;
  }

  header {
    position: fixed;
    top: 0;
    height: 180px;
    width: 100%;
    background-color: rgb(0, 0, 128);
    z-index: 1;
    -webkit-box-shadow: 0px 7px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 14px -6px rgba(0,0,0,0.75);
  }

  .material-icons{
    display: inline-block;
    color: white;
    position: absolute;
    top: 45%;
    font-size: 4.5em;
    margin-left: 40px;

  }

  #home {
    left: 7%;
  }

  #trending {
    left: 37%;
  }

  #news {
    left: 71%;
  }

h1 {
    position: fixed;
    text-align: left;
    margin-top: 0px;
    top: 1%;
    left: 2%;
    font-size: 2.4em;
    color: white;
  }

  .top {
    position: absolute;
    top: 80%;
    font-size: 2.5em;
    color: white;
    left: 2%;
  }


  ul {
    position: absolute;
    top: 43%;
    list-style: none;
    margin-left: 0;
    padding: 0;
    width: 90%;
    left: 5%;
  }

  li {
    position: relative;
    //left: 15%;
    font-size: 2.8em;
    border: 3px solid rgb(0, 0, 128);
    margin-bottom: 15px;
    width: 90%;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 4px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 4px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 5px 4px 12px -3px rgba(0,0,0,0.75);


    .sStats {
      color: rgb(0, 0, 128);
      text-align: center;
      padding-top: 5%;
      padding-bottom: 3%;
    }

    .stat1 {
      width: 32.2%;
      display: inline-block;
      text-align: center;
    }

    .stat2 {
      width: 32.2%;
      display: inline-block;
      text-align: center;
    }

    .stat3 {
      width: 32.2%;
      display: inline-block;
      text-align: center;
    }

    .stat4 {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
    .amount {
      font-size: 2em;
    }
  }




}
